<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>true</dontWrapJar>
  <headerType>gui</headerType>
  <jar>LibraryMIS-1.0-SNAPSHOT.jar</jar>
  <outfile>D:\School\JAVA\LibraryMIS\target\LibraryMIS.exe</outfile>
  <errTitle>install java</errTitle>
  <cmdLine></cmdLine>
  <chdir></chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <singleInstance>
    <mutexName>LibraryMIS</mutexName>
    <windowTitle>LibraryMIS</windowTitle>
  </singleInstance>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>true</requires64Bit>
    <minVersion>11</minVersion>
    <maxVersion></maxVersion>
    <opt>--module-path &quot;C:\javafx\lib&quot;</opt>
    <opt>--add-modules javafx.controls,javafx.fxml</opt>
  </jre>
  <versionInfo>
    <fileVersion>1.0.0.0</fileVersion>
    <txtFileVersion>1.0.0.0</txtFileVersion>
    <fileDescription>LibraryMIS</fileDescription>
    <copyright>NIL</copyright>
    <productVersion>1.0.0.0</productVersion>
    <txtProductVersion>1.0.0.0</txtProductVersion>
    <productName>LibraryMIS</productName>
    <companyName>Wiston Kautsa</companyName>
    <internalName>LibraryMIS</internalName>
    <originalFilename>LibraryMIS.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
  <messages>
    <startupErr>An error occurred while starting the application.</startupErr>
    <jreNotFoundErr>This application requires a Java Runtime Environment.</jreNotFoundErr>
    <jreVersionErr>This application requires a Java Runtime Environment</jreVersionErr>
    <launcherErr>The registry refers to a nonexistent Java Runtime Environment installation or the runtime is corrupted.</launcherErr>
    <instanceAlreadyExistsMsg>An application instance is already running.</instanceAlreadyExistsMsg>
  </messages>
</launch4jConfig>